@import './globals.scss';
@import 'app/components/blog-post/_style.scss';
@import 'app/components/footer/_style.scss';
@import 'app/components/nav-bar/_style.scss';
@import 'app/components/project/_style.scss';
@import 'app/styles/about.scss';
@import 'app/styles/blog.scss';
@import 'app/styles/project.scss';
@import 'app/styles/not-found.scss';

body {
    margin: 0;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;

    & .portfolio-site {
        & .content {
            width: 100%;
            margin: 0;
            padding: 20px;
            background-color: $light-gray;
    
            & .portfolio {
                max-width: 600px;
                margin: auto;
                background-color: white;
            }
        }
    }
    
}
