.footer {
    height: 100px;
    margin-top: 30px;

    & .divider {
        margin: 0px;
    }

    & .footer-items {
        display: flex;
        justify-content: center;
        margin: 8px;

        & .footer-item {
            color: black;
            padding: 8px;
            text-decoration-line: none;
            display: flex;

            & .icon {
                margin: 2px;
            }

            & .text {
                margin: 2px;
            }

            & :hover {
                color: white;
                background-color: black;
            }
        } 
    }
}