.footer {
    margin: auto;

    & .footer-items {
        display: flex;
        margin-right: auto;

        & .footer-item {
            color: black;
            margin: 8px;
            text-decoration-line: none;
        }
    }

    
}