<div class="footer">
    <div class="footer-items">
        <div class="footer-item">LinkedIn</div>
        <a href="https://github.com/shanecjones1999" target="_blank" rel="noopener noreferrer" class="footer-item">GitHub</a>
    </div>
</div>