<div class="footer">
    <hr class="divider">
    <div class="footer-items">
        <div class="footer-item">
            <a href="https://www.linkedin.com/in/shanecjones/" target="_blank" rel="noopener noreferrer" class="footer-item">
                <div class="icon">
                    <FaIcon @icon="linkedin" @prefix="fab" @size="lg"/>
                </div>
                <div class="text">
                    LinkedIn
                </div>
            </a>
        </div>
        <div class="footer-item">
            <a href="https://github.com/shanecjones1999" target="_blank" rel="noopener noreferrer" class="footer-item">
                <div class="icon">
                    <FaIcon @icon="github" @prefix="fab" @size="lg"/>
                </div>
                <div class="text">
                    GitHub
                </div>
            </a>
        </div>
    </div>
</div>