<div>
    <ul>
        <li><LinkTo @route="home">Home</LinkTo></li>
        <li><LinkTo @route="about">About</LinkTo></li>
        <li><LinkTo @route="blog">Blog</LinkTo></li>
        <li><LinkTo @route="projects">Projects</LinkTo></li>
        <li>Resume</li>
    </ul>
</div>