@import '../../styles/globals.scss';

.nav-bar {
    margin-bottom: 20px;

    & .nav-items {
        display: flex;
        margin: 8px;

        & .nav-item {
            padding: 8px;
            color: black;
            margin: 8px;
            text-decoration-line: none;

            &:hover {
                color: white;
                background-color: black;
            }

            & .selected {
                color: white;
                background-color: black;
            }
        }
    }

    & .divider {
        margin: 0px;
    }

    @media (max-width: 400px) {
        & .nav-items {
            justify-content: space-evenly;

            & .nav-item {
                margin: 0px;
            }
        }
    }
}