<div class="nav-bar">
    <div class="nav-items">
        <LinkTo @route="home" class="nav-item">Home</LinkTo>
        <LinkTo @route="about" class="nav-item">About</LinkTo>
        <LinkTo @route="blog" class="nav-item">Blog</LinkTo>
        <LinkTo @route="projects" class="nav-item">Projects</LinkTo>
        <div class="nav-item">Resume</div>
    </div>
</div>