@import '../../styles/globals.scss';

.blog-post-wrapper {
    padding-left: $section-padding;
    padding-right: $section-padding;

    & .blog-post {
        & .title {
            h1 {
                font-size: $header-size;
                margin: 0px;
                padding: 0px;
            }
        }

        & .post-date {
            font-size: $small-text-size;
            color: $dark-gray;
        }

        & .post-content {
            color: black;
        }
    }
}