.blog-post-wrapper {
    padding-left: 30px;
    padding-right: 30px;
    & .back-button {
        color: black;
        margin: 8px;
        text-decoration-line: none;
        &:hover {
            background-color: $primary-color;
            color: white;
        }
    }

    & .blog-post {
        & .title {
            text-align: center;
        }

        & .date {
            color: $light-gray;
            text-align: center;
        }

        & .post-content {
            color: black;
        }
    }
}