<div class="blog-post-wrapper">
    <div class="blog-post">
        <div class="title">
            {{markdown-to-html (concat '#' @blogPost.title)}}
        </div>
        <div class="post-date">
            <FaIcon @icon="calendar-alt" @size="1x"/>
            {{@blogPost.date}}   
        </div>
        {{#each @blogPost.content as |section|}}
            <BlogPostSection @value={{section.value}} @type={{section.type}}/>
        {{/each}}
    </div>
</div>