{{page-title "PortfolioSite"}}

{{!-- The following component displays Ember's default welcome message. --}}
<div>Testing vercel</div>
<div>Shane Jones 51</div>
{{!-- Feel free to remove this! --}}

{{outlet}}