<div class="blog-wrapper">
    <div class="blog">
        <h2 class="title">
            Posts
        </h2>
            {{#each @model.blogPosts as |post|}}
            <div class="blog-post">
                <LinkTo class="post-link" @route="blog-post" @model={{post.slug}}>
                    <div class="post-title">
                        {{post.title}}
                    </div>
                    <div class="post-date">
                        <FaIcon @icon="calendar-alt"/>
                        {{post.date}}
                    </div>
                </LinkTo>
            </div>
            {{/each}}
    </div>
</div>

