<div class="blog-wrapper">
    <div class="blog">
        <ul>
            {{#each @model as |post|}}
                <li>
                    <LinkTo @route="blog-post" @model={{post.slug}}>
                        {{post.title}}
                    </LinkTo>
                </li>
            {{/each}}
        </ul>
    </div>
</div>

