<div>
    <p>This is the about page.</p>
    <p>Hello. I hope you are well. Professionally, I am a software engineer, 
        currently working at Alarm.com.</p>
        {{!-- Inside your template --}}
<FaIcon @icon="github" @prefix="fab" @size="xl"/>
<FaIcon @icon="linkedin" @prefix="fab"/>

</div>